<!--
  NAVBAR FOR HOME PAGE
-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="mr-4" style="font-family: 'Thasadith', sans-serif; color:rgb(247, 77, 77); font-size: 30px;">Coursify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-4">
              <a style="font-size: 20px;" class="nav-link" href="/users/login">Login</a>
          </li>
          <li class="nav-item mr-4">
                <a style="font-size: 20px;" class="nav-link" href="/users/register">Register</a>
            </li>
          </ul>
        </div>
      </nav>