<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coursify|Home</title>
  <%-include('./partials/styles')%>
</head>
<style>
.cred{
  font-size: 27px;
  color: rgb(247, 77, 77);
}
.marketing{
  margin-top: 4%;
}
.featurette-divider{
  margin-bottom: 4%;
  margin-top: 4%;
}
@media (max-width: 997px) 
{
    #logos
    {
        display: none;
    }
}
</style>
<body>
  <header>

    <%-include('./partials/nav_home')%>
  </header>
  <main role="main">

    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
          </ol>  
      <div class="carousel-inner im">
          <div class="carousel-item active"data-interval="9000">
            <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80" class="d-block w-100" style="max-height:650px;">
          </div>
          <div class="carousel-item"data-interval="9000">
            <img src="https://images.unsplash.com/photo-1513883049090-d0b7439799bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" style="max-height:650px;">
          </div>
          <div class="carousel-item"data-interval="9000">
            <img src="https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" style="max-height:650px;">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          
          <span class="sr-only">Next</span>
        </a>
      </div>


<!---------------------------------------------------------------------------------------->


<div class="container marketing">

    <div class="row mb-4" id="logos">
      <div class="col-lg-3">
        <img class="rounded" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c5/Vellore_Institute_of_Technology_seal_2017.svg/800px-Vellore_Institute_of_Technology_seal_2017.svg.png" alt="Generic placeholder image" width="160" height="160">
      </div>
      <div class="col-lg-3">
        <img class="rounded" src="https://www.gradschoolhub.com/wp-content/uploads/2018/05/SUNY-Buffalo-Logo.jpg" alt="Generic placeholder image" width="160" height="160">
      </div>
      <div class="col-lg-3">
        <img class="rounded" src="https://www.gradschoolhub.com/wp-content/uploads/2018/07/UICLogo-600x476.png" alt="Generic placeholder image" width="160" height="160">
      </div>
      <div class="col-lg-3">
          <img class="rounded" src="https://dv-website.s3.amazonaws.com/uploads/2014/01/Stanford-University-logo.jpg" alt="Generic placeholder image" width="160" height="160">
      </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette mt-5">
      <div class="col-md-7">
        <h2 class="featurette-heading">Access from anywhere!<br><span class="text-muted">So you can learn wherever you go.</span></h2>
        <p class="lead">No one wants to carry a laptop everywhere to learn something. Whether it’s smart-phones, tablets, or some other device, everybody deserves access to learning at all the times.</p>
      </div>
      <div class="col-md-5">
        <img style="max-height: 350px; width:320px;" class="rounded featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1560626833-1ef263dc356c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Endless courses, Limitless learning<br><span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Learning should never be constrained by anything. We provide huge variety of different courses and specializations, so you can improvise or learn anything!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img style="height:inherit; max-height: 700px;" class="featurette-image img-fluid mx-auto" src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/front-page-story/how-it-works/offerings2.png?auto=format%2Ccompress&dpr=1&w=386&h=" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, <br><span class="text-muted">Interactive Sessions.</span></h2>
        <p class="lead">Escape from reading boring and lengthy books for learning simple concepts. We have interactive lectures so you never get bored of learning.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1061&q=80" alt="Generic placeholder image">
      </div>
    </div>

  </div>

<!---------------------------------------------------------------------------------------->
      
<footer class="page-footer font-small special-color-dark pt-4">

    <div class="container">
  
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a class="btn-floating btn-fb mx-1">
            <i class="fab fa-facebook-f"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
            <i class="fab fa-twitter"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-gplus mx-1">
            <i class="fab fa-google-plus-g"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
      </ul>
  
    </div>

    <div class="footer-copyright text-center py-3 mt-n4">Made By,
      <a href="https://www.linkedin.com/in/mridul-gupta2021/"> Mridul Gupta</a>
    </div>
  </footer>
  </main>
  <%-include('./partials/scripts')%>
</body>
</html>