<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coursify|Login</title>
    <%-include('./partials/styles')%>
    <style>
    body {
  background: url('https://image.shutterstock.com/z/stock-vector-vector-e-learning-pattern-e-learning-seamless-background-1064804321.jpg') fixed;
  -webkit-background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
    </style>
</head>
<body>
    <div class="container">
            <div class="row mt-5">
                    <div class="col-md-6 m-auto">
                      <div class="card card-body shadow-lg"> 
                        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
                        <form action="/users/login" method="POST">
                        <%-include('./partials/messages'); %>
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input
                              type="email"
                              id="email"
                              name="email"
                              class="form-control"
                              placeholder="Enter Email"
                              value="<%= typeof email != 'undefined' ? email : '' %>"
                            />
                          </div>
                          <div class="form-group">
                            <label for="password">Password</label>
                            <input
                              type="password"
                              id="password"
                              name="password"
                              class="form-control"
                              placeholder="Enter Password"
                            />
                          </div>
                          <div class="radio">
                              <label class="radio-inline mr-4"><input type="radio" name="type" value="student" checked> &nbsp;Student</label>
                              <label class="radio-inline"><input type="radio" name="type" value="professor"> &nbsp;Professor</label>
                              </div>
                          <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                        <p class="lead mt-4">
                          No Account? <a href="/users/register" style="font-weight:bolder;color: chocolate;">Register</a>
                        </p>
                      </div>
                    </div>
                  </div>
    </div>
    <%-include('./partials/scripts')%>     
</body>
</html>